# Python virtual environment
venv/
.env/
*.env

# Data files
data/

# Testing files
test/

# Environment configuration files and directories
__pycache__/
*.py[cod]
*.so

# Poetry configuration files
poetry.lock

# Jupyter Notebook files and directories
.ipynb_checkpoints/
*.ipynb_checkpoints

# Log files and databases
logs/
*.log
*.db

# IDEs configuration files
.vscode/

# pytest configuration files
.pytest_cache/
htmlcov/

# Cache and temporary files
.cache/
*.tmp
*.temp
*.bak
*.orig